In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline

In [2]:
# 한글폰트 사용을 위해 설치
# 아래 모듈을 설치하고 불러오면 별도의 한글폰트 설정이 필요 없습니다.
!pip install koreanize-matplotlib

import koreanize_matplotlib

Requirement already satisfied: koreanize-matplotlib in /Users/yeon/anaconda3/lib/python3.11/site-packages (0.1.1)
Requirement already satisfied: matplotlib in /Users/yeon/anaconda3/lib/python3.11/site-packages (from koreanize-matplotlib) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/yeon/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)

In [3]:
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats

# Mac 의 한글 폰트 설정
plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)

# 폰트가 선명하게 보이기 위해 - 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# 그래프가 노트북 안에 보이게 하기 위해
%matplotlib inline

## 1. 정미니 날짜 데이터 보기

In [4]:
import pandas as pd

# 엑셀 파일 읽기
data = pd.read_excel("제주지방_날짜별평균강수량.xlsx")

# 데이터 확인
print(data)

           날짜  제주지방 평균 강수량(mm)
0  2022-06-19         0.000000
1  2022-06-20        29.600000
2  2022-06-21         0.050000
3  2022-06-22         0.000000
4  2022-06-23         0.000000
5  2022-06-24        23.800000
6  2022-06-25        93.133333
7  2022-06-26         0.333333
8  2022-06-27         3.650000
9  2022-06-28         0.250000
10 2022-06-29         0.425000
11 2022-06-30        45.725000
12 2022-07-01         4.833333
13 2022-07-02         4.366667
14 2022-07-03        23.850000
15 2022-07-04         0.250000
16 2022-07-05        24.100000
17 2022-07-06         0.000000
18 2022-07-07         2.333333
19 2022-07-08        70.366667
20 2022-07-09         0.400000
21 2022-07-10         0.233333
22 2022-07-11         4.025000
23 2022-07-12         0.800000
24 2022-07-13         0.000000
25 2022-07-14         3.100000
26 2022-07-15         4.350000
27 2022-07-16         7.533333
28 2022-07-17         6.900000
29 2022-07-18         9.425000
30 2022-07-19         1.650000
31 2022-07-20         0.000000

In [5]:
# NAN을 0으로 채우기
data.fillna(0, inplace=True)

# 데이터 확인
print(data)

           날짜  제주지방 평균 강수량(mm)
0  2022-06-19         0.000000
1  2022-06-20        29.600000
2  2022-06-21         0.050000
3  2022-06-22         0.000000
4  2022-06-23         0.000000
5  2022-06-24        23.800000
6  2022-06-25        93.133333
7  2022-06-26         0.333333
8  2022-06-27         3.650000
9  2022-06-28         0.250000
10 2022-06-29         0.425000
11 2022-06-30        45.725000
12 2022-07-01         4.833333
13 2022-07-02         4.366667
14 2022-07-03        23.850000
15 2022-07-04         0.250000
16 2022-07-05        24.100000
17 2022-07-06         0.000000
18 2022-07-07         2.333333
19 2022-07-08        70.366667
20 2022-07-09         0.400000
21 2022-07-10         0.233333
22 2022-07-11         4.025000
23 2022-07-12         0.800000
24 2022-07-13         0.000000
25 2022-07-14         3.100000
26 2022-07-15         4.350000
27 2022-07-16         7.533333
28 2022-07-17         6.900000
29 2022-07-18         9.425000
30 2022-07-19         1.650000
31 2022-07-20         0.000000

## 2. 내꺼 경기도9개합침 데이터 날짜범위 해당 장마철로 조절

In [6]:
import pandas as pd

# 엑셀 파일 읽기
combined_9 = pd.read_excel("제주도9개합침.xlsx")

# 데이터 확인
print(combined_9)

            날짜  꼬리물기  불법유턴  불법좌회전  신호위반  역주행  정지선침범  중앙선침범  지정차로위반  진로변경방법위반
0   2022-01-01     0     0      0     3    0      3      0       0         0
1   2022-01-02     0     0      1     0    0      3      0       0         0
2   2022-01-03     0     3      1     5    1      0      0       0         0
3   2022-01-04     0     0      1     1    0      0      0       0         0
4   2022-01-05     0     0      2     3    0      0      2       1         1
..         ...   ...   ...    ...   ...  ...    ...    ...     ...       ...
360 2022-12-27     1     1      1     5    0      0      0       0         0
361 2022-12-28     0     0      0     1    0      0      0       0         0
362 2022-12-29     0     0      1     0    0      0      0       0         0
363 2022-12-30     0     0      4     4    0      0      2       0         0
364 2022-12-31     0     0      3     1    0      0      0       0         0

[365 rows x 10 columns]

In [10]:
import pandas as pd

# 날짜 범위 설정
start_date = '2022-06-19'
end_date = '2022-07-20'

# 날짜 범위에 해당하는 데이터 필터링
filtered_data = combined_9[(combined_9['날짜'] >= start_date) & (combined_9['날짜'] <= end_date)]
filtered_data = filtered_data.reset_index(drop=True)

# 필터링된 데이터 출력
filtered_data

           날짜  꼬리물기  불법유턴  불법좌회전  신호위반  역주행  정지선침범  중앙선침범  지정차로위반  진로변경방법위반
0  2022-06-19     0     0      0     4    6      2      5       0         0
1  2022-06-20     0     0      2     1    0      0      2       0         0
2  2022-06-21     1     4      4     0    0      5      5       1         4
3  2022-06-22     1     0      1     2    0      1      2       0         2
4  2022-06-23     0     1      1     4    1      2      3       0         1
5  2022-06-24     0     1      1     0    0      2      0       0         2
6  2022-06-25     1     1      0     2    0      1      1       0         0
7  2022-06-26     0     0      0     1    0      5      0       0         2
8  2022-06-27     0     1      5     8    0      5      1       1         1
9  2022-06-28     1     0      1     2    2      4      1       0         0
10 2022-06-29     0     0      0     3    1      1      1       0         3
11 2022-06-30     0     0      2     2    1      1      1       0         3
12 2022-07-01     0     0      1     1    2      3      2       0         2
13 2022-07-02     0     0      1     2    0      0      0       0         0
14 2022-07-03     0     0      2     3    1      2      0       0         1
15 2022-07-04     0     0      1     0    0      2      0       0         1
16 2022-07-05     0     2      1     5    0      1      3       0         5
17 2022-07-06     0     0      1     5    0      6      2       1         3
18 2022-07-07     0     0      2     9    1      0      2       0         1
19 2022-07-08     0     0      1     2    1      1      2       0         0
20 2022-07-09     0     0      1     2    0      2      1       0         0
21 2022-07-10     0     0      1     0    0      0      2       0         1
22 2022-07-11     0     0      3     5    0      0      4       1         4
23 2022-07-12     0     2      2     6    0      1      0       0         4
24 2022-07-13     0     1      6     2    0      2      3       0         0
25 2022-07-14     0     0      1     2    0      0      3       0         5
26 2022-07-15     0     0      0     5    1      2      2       0         0
27 2022-07-16     0     0      0     1    0      0      0       0         1
28 2022-07-17     0     0      1     2    0      3      0       0         1
29 2022-07-18     0     1      0     2    0      3      0       0         3
30 2022-07-19     0     2      0     3    1      1      2       1         1
31 2022-07-20     0     0      1     4    1      3      3       0         2

## 3. 정민 data 와 연아 filtered_data 합치기
- 날짜 2개 들어가니까 알맞게 잘 할당되었는지 확인하기

In [17]:
# 두 데이터프레임을 옆으로 합치기
combined_data = pd.concat([data, filtered_data], axis=1)

# 데이터 확인
combined_data

,날짜,제주지방 평균 강수량(mm),날짜,꼬리물기,불법유턴,불법좌회전,신호위반,역주행,정지선침범,중앙선침범,지정차로위반,진로변경방법위반
0,2022-06-19,0.000000,2022-06-19,0,0,0,4,6,2,5,0,0
1,2022-06-20,29.600000,2022-06-20,0,0,2,1,0,0,2,0,0
2,2022-06-21,0.050000,2022-06-21,1,4,4,0,0,5,5,1,4
3,2022-06-22,0.000000,2022-06-22,1,0,1,2,0,1,2,0,2
4,2022-06-23,0.000000,2022-06-23,0,1,1,4,1,2,3,0,1
5,2022-06-24,23.800000,2022-06-24,0,1,1,0,0,2,0,0,2
6,2022-06-25,93.133333,2022-06-25,1,1,0,2,0,1,1,0,0
7,2022-06-26,0.333333,2022-06-26,0,0,0,1,0,5,0,0,2
8,2022-06-27,3.650000,2022-06-27,0,1,5,8,0,5,1,1,1
9,2022-06-28,0.250000,2022-06-28,1,0,1,2,2,4,1,0,0
10,2022-06-29,0.425000,2022-06-29,0,0,0,3,1,1,1,0,3
11,2022-06-30,45.725000,2022-06-30,0,0,2,2,1,1,1,0,3
12,2022-07-01,4.833333,2022-07-01,0,0,1,1,2,3,2,0,2
13,2022-07-02,4.366667,2022-07-02,0,0,1,2,0,0,0,0,0
14,2022-07-03,23.850000,2022-07-03,0,0,2,3,1,2,0,0,1
15,2022-07-04,0.250000,2022-07-04,0,0,1,0,0,2,0,0,1
16,2022-07-05,24.100000,2022-07-05,0,2,1,5,0,1,3,0,5
17,2022-07-06,0.000000,2022-07-06,0,0,1,5,0,6,2,1,3
18,2022-07-07,2.333333,2022-07-07,0,0,2,9,1,0,2,0,1
19,2022-07-08,70.366667,2022-07-08,0,0,1,2,1,1,2,0,0
20,2022-07-09,0.400000,2022-07-09,0,0,1,2,0,2,1,0,0
21,2022-07-10,0.233333,2022-07-10,0,0,1,0,0,0,2,0,1
22,2022-07-11,4.025000,2022-07-11,0,0,3,5,0,0,4,1,4
23,2022-07-12,0.800000,2022-07-12,0,2,2,6,0,1,0,0,4
24,2022-07-13,0.000000,2022-07-13,0,1,6,2,0,2,3,0,0
25,2022-07-14,3.100000,2022-07-14,0,0,1,2,0,0,3,0,5
26,2022-07-15,4.350000,2022-07-15,0,0,0,5,1,2,2,0,0
27,2022-07-16,7.533333,2022-07-16,0,0,0,1,0,0,0,0,1
28,2022-07-17,6.900000,2022-07-17,0,0,1,2,0,3,0,0,1
29,2022-07-18,9.425000,2022-07-18,0,1,0,2,0,3,0,0,3
30,2022-07-19,1.650000,2022-07-19,0,2,0,3,1,1,2,1,1
31,2022-07-20,0.000000,2022-07-20,0,0,1,4,1,3,3,0,2

In [19]:
combined_data = combined_data.drop(columns='날짜')
combined_data

,제주지방 평균 강수량(mm),꼬리물기,불법유턴,불법좌회전,신호위반,역주행,정지선침범,중앙선침범,지정차로위반,진로변경방법위반
0,0.000000,0,0,0,4,6,2,5,0,0
1,29.600000,0,0,2,1,0,0,2,0,0
2,0.050000,1,4,4,0,0,5,5,1,4
3,0.000000,1,0,1,2,0,1,2,0,2
4,0.000000,0,1,1,4,1,2,3,0,1
5,23.800000,0,1,1,0,0,2,0,0,2
6,93.133333,1,1,0,2,0,1,1,0,0
7,0.333333,0,0,0,1,0,5,0,0,2
8,3.650000,0,1,5,8,0,5,1,1,1
9,0.250000,1,0,1,2,2,4,1,0,0
10,0.425000,0,0,0,3,1,1,1,0,3
11,45.725000,0,0,2,2,1,1,1,0,3
12,4.833333,0,0,1,1,2,3,2,0,2
13,4.366667,0,0,1,2,0,0,0,0,0
14,23.850000,0,0,2,3,1,2,0,0,1
15,0.250000,0,0,1,0,0,2,0,0,1
16,24.100000,0,2,1,5,0,1,3,0,5
17,0.000000,0,0,1,5,0,6,2,1,3
18,2.333333,0,0,2,9,1,0,2,0,1
19,70.366667,0,0,1,2,1,1,2,0,0
20,0.400000,0,0,1,2,0,2,1,0,0
21,0.233333,0,0,1,0,0,0,2,0,1
22,4.025000,0,0,3,5,0,0,4,1,4
23,0.800000,0,2,2,6,0,1,0,0,4
24,0.000000,0,1,6,2,0,2,3,0,0
25,3.100000,0,0,1,2,0,0,3,0,5
26,4.350000,0,0,0,5,1,2,2,0,0
27,7.533333,0,0,0,1,0,0,0,0,1
28,6.900000,0,0,1,2,0,3,0,0,1
29,9.425000,0,1,0,2,0,3,0,0,3
30,1.650000,0,2,0,3,1,1,2,1,1
31,0.000000,0,0,1,4,1,3,3,0,2

## 엑셀 파일로 저장

In [26]:
# 데이터프레임을 엑셀 파일로 저장
output_file = '날씨랑제주도.xlsx'
combined_data.to_excel(output_file, index=False)

print(f'Data saved to {output_file}')

Data saved to 날씨랑제주도.xlsx